@model EntityFramework.MVC.Models.ShippersView
@{
    ViewBag.Title = "Shippers";
}

<h1>Vista para insertar nuevo shipper</h1>

@using (Html.BeginForm())

{
    
    <label>Name</label> @Html.TextBoxFor(s => s.ShipperName)
    <label>Phone</label> @Html.TextBoxFor(s => s.ShipperPhone)
    <input type="submit" class="btn btn-success" value="Guardar" />
}