@model EntityFramework.MVC.Models.ShippersView
@{
    ViewBag.Title = "Shippers";
}

<h1>Vista para editar shipper</h1>

@using (Html.BeginForm())

{
    <label>ShipperID</label> @Html.TextBoxFor(s => s.ShipperID)
    <label>Name</label> @Html.TextBoxFor(s => s.ShipperName)
    <label>Phone</label> @Html.TextBoxFor(s => s.ShipperPhone)
    <input type="submit" class="btn btn-success" value="Editar", onclick="return confirm('¿Desea confirmar los cambios?')"/>
}