@model List<EntityFramework.MVC.Models.ShippersView>

@{
    ViewBag.Title = "Shippers";
    
}

<h1>Shippers</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">ShipperID</th>
            <th scope="col">ShipperName</th>
            <th scope="col">ShipperPhone</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Shipper in Model)
         {
            <tr>
                <th scope="row">@Shipper.ShipperID</th>
                <th>@Shipper.ShipperName</th>
                <th>@Shipper.ShipperPhone</th>
            </tr>
         }
    </tbody>

</table>

<div>
    @Html.ActionLink("Crear nuevo Shipper", "Create")
</div>